<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> {# TODO app version #}
        </div>
        <strong>&copy; kyberia.sk</strong> | prevadzkovatel stranky ruci za nic
    </div>
</footer>