{% extends '_layouts/base.html.twig' %}

{% set bodyClass = 'layout-top-nav' %}

{% block body %}
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="navbar-brand"><b>Kyberia</b></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('login') }}">Login</a></li>
                            {#<li><a href="{{ path('registration') }}">Register</a></li>#}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content-wrapper">
            <div class="container">
                <main class="content">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>

        {% include '_layouts/_footer.html.twig' %}
    </div>
{% endblock %}
