{% extends '_layouts/base.html.twig' %}

{% set bodyClass = 'layout-top-nav' %}

{% block body %}
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="navbar-brand"><b>Kyberia</b></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <!-- Main content -->
                <section class="content">
                    {% block content %}{% endblock %}
                </section><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.content-wrapper -->

        {% include '_layouts/_footer.html.twig' %}
    </div><!-- ./wrapper -->
{% endblock %}
