{% extends '_layouts/base.html.twig' %}

{% set bodyClass = 'fixed sidebar-mini' %}

{% block body %}
    <div class="wrapper">
        {% include '_layouts/_header.html.twig' %}
        {% include '_layouts/_main-sidebar.html.twig' %}

        <div class="content-wrapper">
            {% if contentHeader|default(false) %}
                <section class="content-header">
                    <h1>{{ contentHeader|raw }}</h1>
                    {#
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                    #}
                </section>
            {% endif %}

            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>

        {% include '_layouts/_footer.html.twig' %}
        {% include '_layouts/_control-sidebar.html.twig' %}
    </div> <!-- ./wrapper -->
{% endblock %}