{% block errorContent %}
    <p>
        We could not find the page you were looking for.<br>
        Meanwhile, you may <a href="{{ path('homepage') }}">return to homepage</a> or try using the search form.
    </p>

    <form class="search-form">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search">

            <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock %}
